<!DOCTYPE html> 
<html>
	<head>
		<style type="text/css" src="../css/styles.css"></style>
	</head>
	<body>
		<div class="container">
			<h1>Book Info</h1>
			<h2>Title {title}</h2>
			<h2>Author {author}</h2>
			<h2>Year {year}</h2>
		</div>	
	</body>
</html>