<div id="actions" class="footer">
	<form id="addBook" action="addBook" method="post">
		<input type="text" name="title" placeholder="Title" />
		<input type="text" name="author" placeholder="Author" />
		<input type="text" name="year" placeholder="Year" />
		<button type="submit">Add Book</button>
	</form>
	<div>
		<button id="disconnect">Disconnect</button>
	</div>
</div>